# Segredos - NUNCA commitar
.env

# Virtual Environment
/venv
venv

# Database files
*.db
*.sqlite
*.sqlite3
*.dbsqlite3

# VS Code
.vscode/

# Testes
.pytest_cache/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so
.Python